body{ font-family: Arial, Helvetica, sans-serif; }
.section-home{ max-width: 740px; margin: 150px auto 50px; box-shadow: 0 0px 4px rgba(0,0,0,0.15), 0 0px 4px rgba(0,0,0,0.12); padding: 50px 50px 40px; border-radius: 4px; border-bottom: 4px solid #0d6efd;}
.section-home h2{ font-weight: 800; color: #222 }